extends layout

block content
  h1 MCL ORCS
  p.lead Online Resources Control System for Multimedia Communication Lab
  br
  a(href="/query") Query
  br
  a(href="/priority") Check Priority
  br
  if (!user)
    a(href="/login") Login
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
    if (user.username === 'yeji')
      br
      a(href="/register") Register
    br
    a(href="/changepassword") Change Password