extends layout

block content
  h1 MCL ORCS
  p.lead Online Resources Control System for Multimedia Communication Lab
  br
  a(href="/query") Query
  br
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
    br
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
    br
    a(href="/request") Request
    br
    a(href="/unlock") Unlock
    br
    a(href="/yield") Yield
